# Ignore raw dataset and training data (root-anchored)
/data_raw/
/data/training
/data/HASYv2

# Optional: OS/editor clutter
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
/dist/
/build/
/src/__pycache__/

# model
/models/